* {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  cursor: url("./images/cursors.png"), auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.greenColor {
  color: rgb(0, 128, 70) !important;
}
.redColor {
  color: rgb(151, 46, 46) !important;
}
